* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font: 14px Tahoma, Arial, sans-serif;
}
ul, li {
	list-style: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
:focus {
	outline: none;
}
.title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	color: var(--color-black);
}
article {
	color: var(--color-gray);
	border-bottom: 1px solid var(--color-gray-ligth);
	padding: 50px;
}
nav ul {
	display: flex;
	align-items: center;
}
nav li {
	padding: 8px 28px;
}
nav li:not(:last-child) {
	border-right: 1px solid var(--color-white);
}
nav a {
	color: var(--color-white);
	font-size: 16px;
}
nav li a.active {
	color: var(--color-aqua);
}

@media all and (max-width: 900px) {
	article {
		padding: 40px 10px;
	}
}
